
body {
	margin: 0;
}

 #home { 
	background: url(elohor.jpg) no-repeat;
	/*background-size: cover;*/
	background-size: cover;
    height: 675px;
}
h4 {
    color:#668cff;
}
ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    background-color: black;
    padding: 15px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:  #668cff;
}


#aboutpage {
    font-size: 20px;
    margin: 50px;
    text-align:justify;

}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #d3d3d3;
}

th {
    background-color:  #668cff;
    
    color: white;
}

textarea {
    width: 50%;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
input[type=text] {
    width: 50%;
    box-sizing: border-box;
    margin:5px;   
}
#contactform{
    margin: 50px;
}
i {
    background-color: #668cff;
}

.icons {
    margin-left: 50px;
}


button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
